  * {
  color: white;
  font-family: 'Press Start 2P';
}
  
  body {
    color: white;
    background: #111;
    background-image: url('../images/gameBackground.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  canvas {
    border: 1em solid white;
  }

  #popup-overlay {
  text-align: center;;
  position: fixed;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
}

#popup-content {
  background-color: grey;
  border-radius: 0.5em;
  padding: 1em;
}