  * {
  color: white;
  font-family: 'Press Start 2P';
}
  
  body {
    color: white;
    background: #111;
    background-image: url('../images/gameBackground.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  canvas {
    border: 1em solid white;
  }

  #popup-overlay {
  text-align: center;
  position: fixed;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; 
  cursor: pointer; 
}

#popup-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-family: 'Press Start 2P';
  border: 4px solid #fff;
  background-color: black;
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
  padding: 2em;
}


button {
  font-family: 'Press Start 2P';
  border: 4px solid #fff;
  background-color: black;
  color: white;
  padding: 1em;
}

button:hover {
  transform: scale(1.1);
}